{%macro paginate_html(pagination,url)%}
<nav class="page_nav">
    <ul class="pagination">
        <li class="page-item"><span class="page-link">总页数: {{pagination.total}}</span></li>
        <li class="page-item"><span class="page-link">每页条数: {{pagination.per_page}}</span></li>
 
        {%if pagination.has_prev%}
        <li class="page-item active"><a class="page-link" href="{{url_for(url,page=pagination.page-1)}}">prev</a></li>
        {%else%}
        <li class="page-item disabled"><span class="page-link">前一页</span></li>
        {%endif%}
 
            {%for page in pagination.iter_pages(1,1,3,1)%}
            {%if page%}
                <li class="page-item {%if page==pagination.page%}active{%endif%}"><a class="page-link" href="{{url_for(url,page=page)}}">{{page}}</a></li>
            {%else%}
                <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
            {%endif%}
 
        {%endfor%}
 
        {%if pagination.has_next%}
        <li class="page-item"><a class="page-link" href="{{url_for(url,page=pagination.page+1)}}">下一页</a></li>
        {%else%}
        <li class="page-item disabled"><span class="page-link">下一页</span></li>
        {%endif%}
 
    </ul>
</nav>
{%endmacro%}