{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/auth.css') }}">
{% endblock %}

{% block header %}
    <h1>{% block title %}注册{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">用户名<input name="username" id="username" required></label>
        <label for="password">密    码<input type="password" name="password" id="password" required></label>
        <input type="submit" value="注册">
    </form>
{% endblock %}