.content form {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    }

.content label[for~=username], .content label[for~=password] {
    margin: 0 auto;
    }

.content input[id~=username], .content input[id~=password] {
    width: 20rem;
    height: 16px;
    margin: 2px 0 0.6rem 0.4rem;
    border-radius: 2px;
    border:1px solid #ccc;
    }

.content div {
    margin: 0 auto;
    position: relative;
    }

.content a {
    position: absolute;
    font-size: 14px;
    top: 0.2rem;
    margin-left: 0.4rem;
    }
