{% macro select_tags() -%}
<span class="tag" >Tags:
  {%- for tag in tags if tags %}
<label class="tag" for="{{tag['id']}}">
    <input name="{{tag['name']}}" id="{{tag['id']}}" type="checkbox" value="{{tag['id']}}">
    {{tag['name']}}
</label>
  {% endfor -%}
</span>
{%- endmacro  %}

{% macro update_tags(post, tags) -%}
<span class="tag" >Tags:
  {%- for tag in tags -%}
<label class="tag" for="{{tag['id']}}">
    {%- for tag_id in post['tags_id'].split(',') if post['tags_id'] and tag['id'] == tag_id|int -%}
    <input name="{{tag['name']}}" id="{{tag['id']}}" type="checkbox" value="{{tag['id']}}" checked>
    {%- else -%}
    <input name="{{tag['name']}}" id="{{tag['id']}}" type="checkbox" value="{{tag['id']}}" >
    {%- endfor -%}
    {{tag['name']}}
</label>
  {%- endfor -%}
</span>
{%- endmacro %}

{% macro show_tags(post, tags) -%}
<span class="tag f_tag">Tags:</span>
  {%- for tag_id in post['tags_id'].split(',') if post['tags_id'] -%}
      {%- for tag in tags if tag['id'] == tag_id|int -%}
<span class="tag f_tag" >#{{tag['name']}}</span>
      {%- endfor -%}
  {% else -%}
<span class="tag f_tag">no tag</span>
  {%- endfor -%}
{%- endmacro %}

{% macro show_fav_com(post) -%}
    {%- with like_class = 'unlike' -%}
        {%- if g.user and g.user['id'] == post['f_author_id'] -%}
            {%- set like_class = 'like' -%}
        {%- endif -%}
<!--        采用js原生的XMLHttpRequest发送Post请求，进行局部更新，数据传输少-->
<span  id="like{{ post['id'] }}" class="{{like_class}}"
            onclick="doFavour('post','{{ url_for('blog.dofavour_js') }}',{{ post['id'] }})">Like</span>
<!--        采用a标签发送Get请求，进行页面全局更新，数据传输大-->
<!--      <a class="{{like_class}}" href="{{ url_for('blog.dofavour',pid=post['id'],op='unLike') }}">Like</a>-->
    {%- endwith -%}
<span  class="comment_icon" onclick="toComment('{{ post['id'] }}')">Comment</span>
{%- endmacro %}

{% macro show_footer(post, tags) %}
<p class="footer">
    {{ show_tags(post, tags) }}
    {{ show_fav_com(post) }}
</p>
{% endmacro %}

{% macro comments_html(comments,post) %}
    {%- if comments %}
      {% for comment in comments if comment['post_id'] == post['id'] %}
        {% if loop.first %}
    <div class="comments">Comments:</div>
        {% endif %}
    <div id="comment{{ comment['id'] }}" class="comment">
        <div class="comment_about" >by {{comment['username']}} on {{comment['createdTime']|tojson|toLocaleString }}</div>
        <p class="comment_body" >{{ comment['comment'] }}</p>
    </div>
      {% endfor %}
    {% endif -%}
{% endmacro %}

{% macro to_comment(post) %}
<form class="to_comment{{ post['id'] }}" method="post" style="display: None;" >
    <textarea id="to_comment" name="comment" onblur="toComment('{{ post['id'] }}')" required></textarea>
    <input type="button" value="Send" onmousedown="doComment('post','{{ url_for('blog.comment_add') }}',{{ post['id'] }})">
</form>
{% endmacro %}