{% extends 'base.html' %}
{% from 'blog/blogmacros.html' import select_tags with context %}

{%- block style -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/create.css') }}">
{%- endblock -%}

{% block header %}
  <h1>{% block title %}创建{% endblock %}</h1>
  <a class="action" href="{{ url_for('blog.index') }}">返回</a>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="title">标题</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" autofocus="autofocus" required >
    <label for="body">内容</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    {{ select_tags() }}
    <input type="file" name="file" id="file" onchange="imgSelected(this.files);">
    <img src="" id="pre_img" alt="请上传图片" height="80" width="80" style="font:12rem;"></img>
    <script type="text/javascript">
    window.URL = window.URL || window.webkitURL;
    var pre_img = document.getElementById("pre_img");
    function imgSelected(files){
      if(files.length){
        // var img = document.createElement("img");
        var objURL = window.URL.createObjectURL(files[0]);
        pre_img.src = objURL;
        /*
        pre_img.onload = = function() {
          window.URL.revokeObjectURL(this.src);
          }
          */
      }
    }
    </script>
    <input type="submit" value="保存">
  </form>
{% endblock %}

